$default: #436372;
$title: #191919;
$accent: #a3bbc8;
$bg: #edf1f4;


%dmsans-700{
  font-family: "DMSans-Bold", sans serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: "DMSans-Medium", sans serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: "DMSans-Regular", sans serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans serif;
  font-weight: 400;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik-Light";
  font-weight: 300;
}

%myriadpro-400 {
  font-family: "MyriadProRegular";
  font-weight: 400;
}
%poppins-600 {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}
%poppins-700 {
  font-family: "Poppins-Bold";
  font-weight: 700;
}

%text {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
}

%filter {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 43px;
  color: #243f4d;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}