@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок
@import '../module/_header/_header';
@import '../module/_footer/_footer';
@import '../module/_partners/_partners';
@import '../module/_blog/_blog';
@import '../module/_products/_products';