@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts'; 
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок

.header {
  padding: 50px 0;
  &__container {
    max-width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $default;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;
  &__btn {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  &__btn-search,
  &__btn-menu {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  &__btn-search {
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__btn-menu {
    background-color: $accent;
  }
  &__btn-heart,
  &__btn-cart {
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fcd7b6;
  }
  &__btn-cart {
    margin-right: 20px;
    border-radius: 0 50px 50px 0;
  }
  &__btn-heart {
    border-radius: 50px 0 0 50px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 22px;
    font-size: 10px;
    color: #243f4d;
    text-align: center;
    line-height: 20px;
    @extend %dmsans-400;
  }

  &__btn-heart::after {
    content: '';
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 10px;
    left: 90px;
    z-index: 2;
    position: absolute;
    cursor: default;
  }
}

.footer-top {
  display: flex;
  padding: 60px 0 75px;
  border-bottom: 1px solid #dae4e9;
  @extend %text;
  justify-content: space-between;
  &__logo {
    margin-bottom: 20px;
    display: block;
  }
  &__contact {
    width: 250px;
    margin-right: 45px;
  }
  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 15px;
    line-height: 24px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 20px;
  }
  &__list {
    width: 250px;
  }
  &__link {
    @extend %text;
  }
  &__text {
    margin-bottom: 30px;
    width: 270px;
  }
  &__form-input {
    border: none;
    padding: 9px 75px 10px 15px;
    line-height: 1px;
    background-color: #fef7f0;
    max-width: 173px;
    margin-right: -3px;
  }
  &__form-input::placeholder {
    @extend %dmsans-400;
    font-size: 12px;
    color: #234969;
  }

  &__form-btn {
    border: none;
    color: #fff;
    background-color: $accent;
    @extend %dmsans-400;
    font-size: 12px;
    padding: 2px 20px;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 40px;
  align-items: center;
  &__copy,
  &__link,
  &__item-nav {
    @extend %text;
    line-height: 20px;
  }
  &__nav {
    display: flex;
    position: relative;
  }
  &__item-nav:not(:last-child) {
    padding-right: 10px;
  }
  &__item-nav:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid #7b7b7b;
  }
}

.top-slider {
  &__container {
    max-width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__img {
    position: relative
  }
  &__content {
    position: absolute;
    z-index: 1;
    width: 650px;
    padding-top: 215px;
    padding-left: 225px;
  }
  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    width: 380px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link {
    padding: 20px 100px 20px 20px;
    background-color: $accent;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
  }
  .top-slider__link span {
    position: absolute;
    right: 15px;
    top: 40%;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  li {
    margin-right: 10px;
    button {
      background-color: #fde3cc;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: #667983;
      cursor: pointer;

    }

    &.slick-active {
      button {
        background-color: #fff;
        color: #243f4d;
      }
    }
  }
}
.info {
  margin-bottom: 70px;
  &__items {
    background-color: #fef7f0;
    display: flex;
  }
  &__item {
    display: flex;
    padding: 70px 30px 40px;
    justify-content: center;
    width: 100%;
  }
  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__item-content{
    max-width: 240px;
    padding-left: 25px;
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #414141;
    margin-bottom: 5px;
  }
  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }
}

.products {
  &__filter {
    margin-bottom: 70px;
  }
  &__filter-btn {
    cursor: pointer;
  }
  &__items {
     font-size: 16px;
     line-height: 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 150px;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 30px 40px;
    margin-bottom: 35px;
    min-height: 380px;
    position: relative;
  }
  &__item-photo {
    margin: auto;
  }
  &____item-title {
    @extend %dmsans-400;
    color: #243f4d;
  }
  &__item-price {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}
.mixitup-control-active {
  color: rgb(26, 26, 26);
}
.products-nav {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 7px;
    font-size: 40px;
    opacity: 0;
    transition: opacity .3s;
  }
  .products-nav__item:hover {
    background-color: #a3bbc8;

    path {
      fill: #fff;
    }
  }
}
.products__item:hover .products-nav__item {
  opacity: 1;
  transition: opacity .3s;
}

.advertising {
  &__container {
    max-width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    background-color: #feefe2;
    color: #243f4d;
    position: relative;
    padding: 80px 140px 80px 380px;
    width: 870px;
  }
  &__item:first-child{
    margin-right: 30px;
  }
  &__image {
    position: absolute;
    top: -95px;
    left: 115px;
    height: 410px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__link {
    padding: 20px 80px 20px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
  }
  &__link span {
    position: absolute;
    right: 15px;
    top: 40%;
  }
}






 

  
  

  

 


@import 'media'; // здесь медиа запросы