@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts'; 
@import 'reset'; //обнуление стилей
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $default;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;
  &__btn {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  &__btn-search,
  &__btn-menu {
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  &__btn-search {
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__btn-menu {
    background-color: #a3bbc8;
  }
  &__btn-heart,
  &__btn-cart {
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fcd7b6;
  }
  &__btn-cart {
    margin-right: 20px;
    border-radius: 0 50px 50px 0;
  }
  &__btn-heart {
    border-radius: 50px 0 0 50px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 22px;
    font-size: 10px;
    color: #243f4d;
    text-align: center;
    line-height: 20px;
    @extend %dmsans-400;
  }

  &__btn-heart::after {
    content: '';
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 10px;
    left: 90px;
    z-index: 2;
    position: absolute;
    cursor: default;
  }
  
}
  
  

  

 


@import 'media'; // здесь медиа запросы