.advertising {
  &__container {
    max-width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__item {
    background-color: #feefe2;
    color: #243f4d;
    position: relative;
    padding: 80px 140px 80px 380px;
    width: 870px;
  }

  &__item:first-child {
    margin-right: 30px;
  }

  &__image {
    position: absolute;
    top: -95px;
    left: 115px;
    height: 410px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__link {
    padding: 20px 80px 20px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: #436372;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
  }

  &__link span {
    position: absolute;
    right: 15px;
    top: 40%;
  }
}

@media (max-width: 1570px) {
  .advertising {
    &__item {
      padding: 80px 35px 80px 250px;
    }
    &__image {
      left: 60px;
      top: 50px;
      height: 240px;
    }
  }
}

@media (max-width: 1200px) {
  .advertising {
    &__items {
      display: block;
    }
    &__item {
      width: 100%;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 620px) {
  .advertising {
    &__image {
      left: 20px;
    }
    &__item {
      padding-left: 170px;
    }
  }
}

@media (max-width: 410px) {
  .advertising {
    &__image {
      top: 0;
      position: relative;
    }
    &__item {
      padding: 40px 30px;
    }
    &__title {
      padding-top: 15px;
    }
  }
}