<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/about.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">

    <section class="top">
      <div class="top__inner">
        <h2 class="top__title title">
          About Us
        </h2>
        <div class="container">
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  About Us
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="company">
      <div class="container">
        <div class="company__inner">
          <img class="company__image" src="images/company/office.jpg" alt="office">
          <div class="company__items">
            <div class="company__item-advance">
              <div class="company__item-number">12</div>
              <ul class="company__item-list">
                <li class="company__item-text">Years</li>
                <li class="company__item-text">Experience</li>
                <li class="company__item-text">Working</li>
              </ul>
            </div>
            <div class="company__item">
              <h3 class="company__title">
                Mission of our creative house
              </h3>
              <p class="company__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
              </p>
            </div>
            <ul class="company__list-progres">
              <li class="company__list-item company__list-item--projects">
                <p class="company__list-title">520+</p>
                <p class="company__list-text">Projects</p>
              </li>
              <li class="company__list-item company__list-item--revenue">
                <p class="company__list-title">$4M</p>
                <p class="company__list-text">Revenue</p>
              </li>
              <li class="company__list-item company__list-item--awards">
                <p class="company__list-title">250</p>
                <p class="company__list-text">Awards</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="success">
      <div class="container">
        <div class="success__items">
          <div class="success__item">
            <img class="success__img" src="images/decor-icons/computer.svg" alt="">
            <h3 class="success__title">99%</h3>
            <p class="success__text">Satisﬁed Clients Rate</p>
          </div>
          <div class="success__item">
            <img class="success__img" src="images/decor-icons/car.svg" alt="">
            <h3 class="success__title">5020+</h3>
            <p class="success__text">Products Delivered</p>
          </div>
          <div class="success__item">
            <img class="success__img" src="images/decor-icons/time.svg" alt="">
            <h3 class="success__title">23hr</h3>
            <p class="success__text">Daily Working Time</p>
          </div>
          <div class="success__item">
            <img class="success__img" src="images/decor-icons/star.svg" alt="">
            <h3 class="success__title">140+</h3>
            <p class="success__text">Brands in Store</p>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="container">
        <div class="team__box">
          <div class="team__content">
            <h3 class="team__content-title">Our Team</h3>
            <p class="team__content-text">Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod
              tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. </p>
            <a class="team__content-link" href="#">Join With US</a>
          </div>
          <div class="team__people">
            <div class="team__people-cart">
              <img class="team__image" src="images/team/1.jpg" alt="">
              <div class="team__description">
                <div class="team__description-left">
                  <h4 class="team__people-name">Eliza Elliot</h4>
                  <p class="team__people-position">Commodo tempor </p>
                </div>
                <div class="team__description-social">
                  <a class="team__social-insta" href="#">
                    <img src="images/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="team__social-google" href="#">
                    <img src="images/icons/google.svg" alt="google">
                  </a>
                </div>
              </div>
            </div>

            <div class="team__people-cart">
              <img class="team__image" src="images/team/2.jpg" alt="">
              <div class="team__description">
                <div class="team__description-left">
                  <h4 class="team__people-name">Roscoe A. </h4>
                  <p class="team__people-position">Commodo tempor </p>
                </div>
                <div class="team__description-social">
                  <a class="team__social-insta" href="#">
                    <img src="images/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="team__social-google" href="#">
                    <img src="images/icons/google.svg" alt="google">
                  </a>
                </div>
              </div>
            </div>

            <div class="team__people-cart">
              <img class="team__image" src="images/team/3.jpg" alt="">
              <div class="team__description">
                <div class="team__description-left">
                  <h4 class="team__people-name">Ruby M. </h4>
                  <p class="team__people-position">Commodo tempor </p>
                </div>
                <div class="team__description-social">
                  <a class="team__social-insta" href="#">
                    <img src="images/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="team__social-google" href="#">
                    <img src="images/icons/google.svg" alt="google">
                  </a>
                </div>
              </div>
            </div>

            <div class="team__people-cart">
              <img class="team__image" src="images/team/4.jpg" alt="">
              <div class="team__description">
                <div class="team__description-left">
                  <h4 class="team__people-name">Marie F. Bloss</h4>
                  <p class="team__people-position">Commodo tempor </p>
                </div>
                <div class="team__description-social">
                  <a class="team__social-insta" href="#">
                    <img src="images/icons/instagram.svg" alt="instagram">
                  </a>
                  <a class="team__social-google" href="#">
                    <img src="images/icons/google.svg" alt="google">
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  {% include 'app/module/_blog/_blog.html' %}
  {% include 'app/module/_partners/_partners.html' %}


  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>