<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">

    <section class="top">
      <div class="top__inner">
        <h2 class="top__title title">
          Blog
        </h2>
        <div class="container">
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Blog
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-page">
      <div class="container">
        <div class="blog-page__inner">
          <div class="blog-page__content">
            <div class="blog-page__item">
              <div class="blog-page__item-box">
                <a class="blog-page__img-link" href=" #">
                  <img class="blog-page__img" src="images/blog/page-1.jpg" alt="">
                </a>
                <div class="blog-page__box">
                  <p class="blog-page__date">
                    28 JANUARY, 2020
                  </p>
                  <a class="blog-page__author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
              <a class="blog-page__title-link" href="#">
                <h4 class="blog-page__title">
                  Fonsectetur adipisicing eiusmod
                </h4>
              </a>
              <div class="blog-page__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </div>
              <a class="blog-page__link" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-box">
                <a class="blog-page__img-link" href=" #">
                  <img class="blog-page__img" src="images/blog/page-2.jpg" alt="">
                </a>
                <div class="blog-page__box">
                  <p class="blog-page__date">
                    28 JANUARY, 2020
                  </p>
                  <a class="blog-page__author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
              <a class="blog-page__title-link" href="#">
                <h4 class="blog-page__title">
                  Fonsectetur adipisicing eiusmod
                </h4>
              </a>
              <div class="blog-page__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </div>
              <a class="blog-page__link" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-box">
                <a class="blog-page__img-link" href=" #">
                  <img class="blog-page__img" src="images/blog/page-3.jpg" alt="">
                </a>
                <div class="blog-page__box">
                  <p class="blog-page__date">
                    28 JANUARY, 2020
                  </p>
                  <a class="blog-page__author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
              <a class="blog-page__title-link" href="#">
                <h4 class="blog-page__title">
                  Fonsectetur adipisicing eiusmod
                </h4>
              </a>
              <div class="blog-page__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </div>
              <a class="blog-page__link" href="#">View More</a>
            </div>

            <div class="blog-page__item">
              <div class="blog-page__item-box">
                <a class="blog-page__img-link" href=" #">
                  <img class="blog-page__img" src="images/blog/page-4.jpg" alt="">
                </a>
                <div class="blog-page__box">
                  <p class="blog-page__date">
                    28 JANUARY, 2020
                  </p>
                  <a class="blog-page__author" href="#">
                    BY ADMIN
                  </a>
                </div>
              </div>
              <a class="blog-page__title-link" href="#">
                <h4 class="blog-page__title">
                  Fonsectetur adipisicing eiusmod
                </h4>
              </a>
              <div class="blog-page__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </div>
              <a class="blog-page__link" href="#">View More</a>
            </div>

            <div class="pagination">
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
              </ul>
              <a class="pagination__link pagination__next" href="#">Next</a>
            </div>
          </div>
          <div class="blog-page__aside">

            <div class="blog-page__search search">
              <form class="search__form" action="#">
                <input class="search__input" type="text">
                <button class="search__btn" type="submit">
                  <img class="search__img" src="images/icons/search-icon.svg" alt="search">
                </button>
              </form>
            </div>

            <div class="blog-page__filter-category filter__item filter-category">
              <h3 class="filter__title">CATEGORY</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Table</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                  </div>
                </label>
              </form>
            </div>

            <div class="blog-page__recent">
              <h3 class="blog-page__recent-title filter__title">Recent Posts</h3>
              <div class="blog-page__recent-items">
                <div class="blog-page__recent-item">
                  <a class="blog-page__recent-linkbox" href="#">
                    <img class="blog-page__recent-img" src="images/blog/aside-1.jpg" alt="photo">
                  </a>
                  <div class="blog-page__recent-box">
                    <a class="blog-page__recent-link" href="#">
                      <h4 class="blog-page__recent-subtitle">
                        Corem ipsum dolor tetur adipisicing elit
                      </h4>
                    </a>
                    <div class="blog-page__recent-date">
                      28 JANUARY, 2020
                    </div>
                  </div>
                </div>
                <div class="blog-page__recent-item">
                  <a class="blog-page__recent-linkbox" href="#">
                    <img class="blog-page__recent-img" src="images/blog/aside-2.jpg" alt="photo">
                  </a>
                  <div class="blog-page__recent-box">
                    <a class="blog-page__recent-link" href="#">
                      <h4 class="blog-page__recent-subtitle">
                        Fdipisicing elit, sed do eiusmod tempor
                      </h4>
                    </a>
                    <div class="blog-page__recent-date">
                      28 JANUARY, 2020
                    </div>
                  </div>
                </div>
                <div class="blog-page__recent-item">
                  <a class="blog-page__recent-linkbox" href="#">
                    <img class="blog-page__recent-img" src="images/blog/aside-3.jpg" alt="photo">
                  </a>
                  <div class="blog-page__recent-box">
                    <a class="blog-page__recent-link" href="#">
                      <h4 class="blog-page__recent-subtitle">
                        Eonsectetur adipisicing elit, sed do eiusmod
                      </h4>
                    </a>
                    <div class="blog-page__recent-date">
                      28 JANUARY, 2020
                    </div>
                  </div>
                </div>
                <div class="blog-page__recent-item">
                  <a class="blog-page__recent-linkbox" href="#">
                    <img class="blog-page__recent-img" src="images/blog/aside-4.jpg" alt="photo">
                  </a>
                  <div class="blog-page__recent-box">
                    <a class="blog-page__recent-link" href="#">
                      <h4 class="blog-page__recent-subtitle">
                        gnim ad minim veniam, quis nostrud
                      </h4>
                    </a>
                    <div class="blog-page__recent-date">
                      28 JANUARY, 2020
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <div class="partners parnters--only">
      <div class="container">
        <ul class="partners__list">
          <li class="partners__list-item">
            <img src="images/partners/1.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/2.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/3.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/4.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/5.png" alt="partner">
          </li>
        </ul>
      </div>
    </div>


  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>