<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/conditions.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}
 
  <main class="main">

    <section class="top">
      <div class="top__inner">
        <h2 class="top__title title">
          Terms & Conditions
        </h2>
        <div class="container">
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Terms & Conditions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <article class="conditions">
      <div class="container">
        <div class="conditions__items">
          <div class="conditions__item">
            <h3 class="conditions__title">
              Types of Personal Information We Collect
            </h3>
            <ol class="conditions__list">
              <li class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              </li>
              <li class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
              </li>
              <li class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </li>
              <li class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
              </li>
              <li class="conditions__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              </li>
            </ol>
          </div>
          <div class="conditions__item">
            <h3 class="conditions__title">
              How marketpmss.com Collects Personal Infonnation
            </h3>
            <p class="conditions__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            </p>
          </div>
          <div class="conditions__item">
            <h3 class="conditions__title">
              How marketprosscom Uses Personal Information
            </h3>
            <p class="conditions__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            </p>
          </div>
        </div>
      </div>
    </article>

    
    {% include 'app/module/_blog/_blog.html' %}
    {% include 'app/module/_partners/_partners.html' %}


  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>