<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/login.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">

    <section class="top">
      <div class="top__inner">
        <h2 class="top__title title">
          Log in
        </h2>
        <div class="container">
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Log in
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="modal">
      <div class="container">
        <div class="modal__inner">
          <form class="modal__form" action="#">
            <label class="modal__label">
              Username or email address *
              <input class="modal__input" type="text" required>
            </label>
            <label class="modal__label">
              Password *
              <input class="modal__input" type="password" required>
            </label>
            <button class="modal__btn" type="submit">
              Login
            </button>
            <div class="modal__box">
              <label class="modal__box-label">
                <input type="checkbox">
                Remember me
              </label>
              <a class="modal__link" href="#">
                Lost your password?
              </a>
            </div>
            <p class="modal__text">
              Not registered? No problem
            </p>
            <a class="modal__link-create" href="#">
              Create an account
            </a>
          </form>
        </div>
      </div>
    </section>


  <div class="partners parnters--only">
      <div class="container">
        <ul class="partners__list">
          <li class="partners__list-item">
            <img src="images/partners/1.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/2.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/3.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/4.png" alt="partner">
          </li>
          <li class="partners__list-item">
            <img src="images/partners/5.png" alt="partner">
          </li>
        </ul>
      </div>
    </div>


  </main>
  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>