.top-slider {
  &__container {
    max-width: 1800px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__item {
    background-color: #fcd7b6;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    width: 470px;
    padding: 210px 0 280px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    width: 380px;
    color: #436372;
    margin-bottom: 40px;
  }

  &__link {
    padding: 20px 100px 20px 20px;
    background-color: $accent;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
  }

  .top-slider__link span {
    position: absolute;
    right: 15px;
    top: 40%;
  }

  &__image {
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      background-image: url('../images/slider/background-slider.png');
      background-repeat: no-repeat;
      height: 640px;
      width: 635px;
      top: 70px;
      right: -135px;
    }
  }

  &__img {
    height: 260px;
    width: auto;
    z-index: 2;
    position: relative;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  z-index: 3;

  li {
    margin-right: 10px;

    button {
      background-color: #fde3cc;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: #667983;
      cursor: pointer;

    }

    &.slick-active {
      button {
        background-color: #fff;
        color: #243f4d;
      }
    }
  }
}
.info {
  margin-bottom: 70px;

  &__items {
    background-color: #fef7f0;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    padding: 70px 0 30px;
    justify-content: center;
    width: 100%;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__item-content {
    max-width: 240px;
    padding-left: 25px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 16px;
    color: #414141;
  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 1150px) {
  .top-slider {
    &__item-box {
      justify-content: center;
    }
    &__content {
      width: 100%;
      text-align: center;
      padding: 130px 0 100px; 
    }
    &__text {
      width: 100%;
    }
    &__image {
      margin-bottom: 100px;
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 1050px) {
  .info {
    &__items {
      display: block;
    }
    &__item {
      padding: 60px 0 20px;
      width: 100%;
    }
  }
  .top-slider {
    &__inner {
      margin-bottom: 48px;
    }
  }
}

@media (max-width: 820px) {
  .top-slider {
    &__content {
      padding: 90px 0 60px;
    }
    &__img {
      height: 100%;
    }
  }
}

@media (max-width: 570px) {
  .top-slider {
    &__title {
      font-size: 60px;
      line-height: 54px;
    }
  }
  .info {
    &__item {
      padding: 30px 0 20px;
    }
  }
}

@media (max-width: 390px) {
  .top-slider {
    &__title {
      font-size: 42px;
      line-height: 44px;
    }
  }
}