.blog {
  margin-bottom: -182px;
  position: relative;
  z-index: 2;

  &__top-title {
    color: #1a1a1a;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
  }

  &__link {
    position: relative;
    padding-right: 30px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/blog/blog-decor.svg');
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
    right: 0;
    top: 10px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item-imglink {
    display: block;

    img {
      height: 250px;
      object-fit: cover;
    }
  }

  &__item-news {
    padding: 10px 30px;
    background-color: $accent;
    color: #fff;
    border-radius: 30px;
    margin-left: 27px;
    position: absolute;
    bottom: 165px;
    line-height: 1.4;
  }

  &__item-box {
    padding: 35px 25px 20px 30px;
    color: #262626;
    @extend %dmsans-500;
    font-size: 18px;
    background-color: #fff;
  }

  &__item-textlink {
    border-bottom: 1px solid #e0e0e0;
    display: block;
  }

  &__item-text {
    margin-bottom: 18px;
    line-height: 1.2;
    transition: all .3s;
    color: #262626;
    min-height: 60px;
    width: 255px;
    font-size: 18px;
    @extend %myriadpro-400;
  }

  &__item-text:hover,
  &__item-author:hover {
    color: $accent;
  }

  &__item-bottom {
    padding-top: 15px;
    display: flex;
    font-size: 12px;
    line-height: 30px;
  }

  &__item-date,
  &__item-author {
    color: #222933;
    transition: all .3s;
    @extend %rubik-400;
    padding-left: 25px;
    position: relative;
  }

  &__item-date {
    margin-right: 30px;
  }

  &__item-date::after {
    content: '';
    position: absolute;
    background-image: url('../images/blog/calendar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 0;
    top: 3px;
  }

  &__item-author::before {
    content: '';
    position: absolute;
    background-image: url('../images/blog/admin.svg');
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    left: -4px;
    top: 0;
    background-size: cover;
  }
}

@media (max-width: 1050px) {
  .blog {
    &__items {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 860px) {
  .blog {
    &__item {
      display: block;
      max-width: 100%;
    }

    &__item-imglink {
      img {
        width: 100%;
      }
    }

    &__item-text {
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 620px) {
  .blog {
    &__top {
      display: block;
    }

    &__link {
      &::after {
        top: 5px;
      }
    }
  }
}

@media (max-width: 330px) {
  .blog {
    &__item-news {
      bottom: 200px;
    }

    &__item-bottom {
      flex-wrap: wrap;
    }

    &__item-date {
      margin-bottom: 10px;
    }
  }
}